{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}


<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">
<style>
   
 @media screen and (min-width: 990px){
   .product:not(.product--no-media):not(.featured-product) .product__media-wrapper {
    max-width: 60%;
    width: calc(60% - 1rem / 2);
}
.product:not(.product--no-media):not(.featured-product) .product__info-wrapper {
    padding-left: 4rem;
    max-width: 40%;
    width: calc(40% - 1rem / 2);
} 
 }
  .product__media-list{
    margin:auto;
    width:100%;
    max-width:500px;
  }
  .product__media-item{
  
  }
  .product__media-list .deferred-media, .product__media-list .product__modal-opener{
  border:0px !Important;
  }
  .custom-thumbnails-container{
    width:auto;
    height:auto;
  }
  
  .custom-thumbnails-container > div{
    position:sticky;
    top:90px;
  }
  .product-form__submit{
  margin-bottom:0px;
  }
  .product-form__quantity{
  max-width:100%;
  }
  .custom-thumbnails-container  .thumb-image-container{
  padding:5px;
    margin:10px;
    cursor:pointer;
    border-radius:50px;
    border:1px solid black;
    width:60px;
    text-align:center;
    height:60px;
  }
  .custom-thumbnails-container img{
  height:100%;
    object-fit:contain;
    width:100%:
    
  }
  .thumb-image-container-active{
  
  }
  .bundle-container{
  margin:10px 0px;
  }
  .bundle-container .custom_media{
  width:100px;
  }
  .bundle-container h5{
  margin:0px 10px;
    width:250px;
  }
  .bundle-container a{
  width:120px;
    text-align:center;
    padding:7px 10px;
    border:1px solid black;
    border-radius:10px;
    color:black;
    text-decoration:none;
  }
  
  .bundle-container a:hover{
  background-color:#f1f1f1;
  }
  
  .product__media-item{
  display:none;  
    }
  
    .product__media-item-active{
    display:block;
    }
    
  .qty-swatch{
  background-color:#F1F1F1;
    margin:0px 5px;
    border-radius:8px;
    cursor:pointer;
    border:1px solid transparent;
  }
  .qty-swatch-active{
    border:1px solid black;
  }
  .qty-swatch:first-child{
    margin-left:0px;
  }
  
  .qty-swatch:last-child{
    margin-right:0px;
  }
  @media(max-width:800px){
    .slider-mobile-gutter{
    flex-direction:column-reverse;
    }
    .custom-thumbnails-container > div{
    flex-direction:row;
      justify-content:center;
    }
    .product__media-list.grid{
    margin:auto;
    }
  }
</style>


<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section class="page-width pad-top_l">
  <div class="product grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
    <div class="grid__item product__media-wrapper pos_rel">
      <slider-component class="slider-mobile-gutter flex">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        
        
        <div class="custom-thumbnails-container flex flex_col">
          <div class=" flex flex_col">
   {% for image in product.media %}
    <div class="thumb-image-container {% if forloop.index == 1 %} thumb-image-container-active {%endif%}" data-index="media-{{forloop.index}}" data-media-id="{{ section.id }}-{{ media.id }}">
      <img alt="{{ image.alt | escape }}" class="thumb-image" data-index="media-{{forloop.index}}" data-media-id="{{ section.id }}-{{ media.id }}" src="{{ image | img_url: '500x' }}">
  </div>
    {% endfor %}
          </div>
     </div>
        
        
        <ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
          {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
            <li class="prod-image product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-index="media-{{forloop.index}}" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
            </li>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li class="prod-image {% if forloop.index == 1 %} product__media-item-active {%endif%} product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-index="media-{{forloop.index}}" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
        <div class="slider-buttons hide no-js-hidden{% if product.media.size < 2 %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{% if section.settings.hide_variants %}{{ product.media.size | minus: variant_images.size | plus: 1 }}{% else %}{{ product.media.size }}{% endif %}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      </slider-component>
      {%- if first_3d_model -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icon-3d-model' %}
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
    </div>
    <div class="product__info-wrapper grid__item">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <h1 class="product__title f2" {{ block.shopify_attributes }}>
              {{ product.title | escape }}
            </h1>
              <div class="product-title"></div>
              <div class="areviews_header_stars"></div>
        <span class="f10  y-margin_0 weight_400 child-inherit small-info">{{product.metafields.my_fields.info}}</span>
          {%- when 'price' -%}
            <div class="no-js-hidden" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
            </div>
            <div {{ block.shopify_attributes }}>
              {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}

              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}
            </div>
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product__description rte">
                {{ product.description }}
              </div>
            {%- endif -%}
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          {%- when 'collapsible_tab' -%}
            <div class="product__accordion accordion" {{ block.shopify_attributes }}>
              <details>
                <summary>
                  <div class="summary__title">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <h2 class="h4 accordion__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </h2>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content rte">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
              </details>
            </div>
          {%- when 'quantity_selector' -%}
            <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>

              <quantity-input class="quantity {%if block.settings.show-qty-btn == true %}hide {%endif%}">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="product-form-{{ section.id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
               {%if block.settings.show-qty-btn == true %}
              <div class="qty-swatch-container flex flex_wrap align_start justify_between">
              
          <div tabindex="0" onkeydown="keyToClick(event);" class="qty-swatch x-pad_s text_center y-pad_xs width_30" data-qty="1">
  <h2 class="h9 y-margin_0">1 Pack</h2>
  <p class="f9 y-margin_0">{{ product.price | money }}</p>
</div>

<div tabindex="0" onkeydown="keyToClick(event);" class="qty-swatch x-pad_s text_center y-pad_xs width_30" data-qty="2">
  <h2 class="h9 y-margin_0">2 Pack</h2>
  <p class="f9 y-margin_0">
    {% if product.title == 'Elderberry' %}
      {{ product.price | times: 2.1 | money }} <!-- Custom price for 2 Pack of Elderberry -->
    {% else %}
      {{ product.price | times: 2 | money }} <!-- Default price calculation for other products -->
    {% endif %}
  </p>
</div>

<div tabindex="0" onkeydown="keyToClick(event);" class="qty-swatch x-pad_s text_center y-pad_xs width_30" data-qty="3">
  <h2 class="h9 y-margin_0">3 Pack</h2>
  <p class="f9 y-margin_0">
    {% if product.title == 'Elderberry' %}
      {{ product.price | times: 2.77 | money }} <!-- Custom price for 3 Pack of Elderberry -->
    {% else %}
      {{ product.price | times: 3 | money }} <!-- Default price calculation for other products -->
    {% endif %}
  </p>
</div>

<div tabindex="0" onkeydown="keyToClick(event);" class="qty-swatch x-pad_s text_center y-pad_xs width_30" data-qty="5">
  <h2 class="h9 y-margin_0">5 Pack</h2>
  <p class="f9 y-margin_0">
    {% if product.title == 'Elderberry' %}
      {{ product.price | times: 4.61 | money }} <!-- Custom price for 5 Pack of Elderberry -->
    {% else %}
      {{ product.price | times: 5 | money }} <!-- Default price calculation for other products -->
    {% endif %}
  </p>
</div>
              
              </div>
              
              
              {%endif%}
            </div>
          {%- when 'popup' -%}
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}</button>
              </modal-opener>
              <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.text }}</a>
          {%- when 'share' -%}
            <share-button class="share-button" {{ block.shopify_attributes }}>
              <button class="share-button__button hidden">
                {% render 'icon-share' %}
                {{ block.settings.share_label | escape }}
              </button>
              <details>
                <summary class="share-button__button">
                  {% render 'icon-share' %}
                  {{ block.settings.share_label | escape }}
                </summary>
                <div id="Product-share-{{ section.id }}" class="share-button__fallback motion-reduce">
                  <div class="field">
                    <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status">
                    </span>
                    <input type="text"
                          class="field__input"
                          id="url"
                          value="{{ shop.url | append: product.url }}"
                          placeholder="{{ 'general.share.share_url' | t }}"
                          onclick="this.select();"
                          readonly
                    >
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                  </div>
                  <button class="share-button__close hidden no-js-hidden">
                    {% render 'icon-close' %}
                    <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                  </button>
                  <button class="share-button__copy no-js-hidden">
                    {% render 'icon-clipboard' %}
                    <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                  </button>
                </div>
              </details>
            </share-button>
            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
                <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                      <fieldset class="js product-form__input">
                        <legend class="form__label">{{ option.name }}</legend>
                        {%- for value in option.values -%}
                          <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}"
                                form="product-form-{{ section.id }}"
                                {% if option.selected_value == value %}checked{% endif %}
                          >
                          <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                            {{ value }}
                          </label>
                        {%- endfor -%}
                      </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="product-form-{{ section.id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}

            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>
        
          {%- when 'buy_buttons' -%}
            <div {{ block.shopify_attributes }}>
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                                {%- form 'product', product, id: product_form_id, class: 'product-form', novalidate: 'novalidate', data-type: 'add-to-cart-form', data-id: product.id -%}
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  <div class="product-form__buttons">
                   <div class="btn-wrap  width_100">
                    <span></span>
                    <button
                      onkeydown="setTimeout(() => {elemFocus('#ajax-cart-focus');}, 350);"
                      type="submit"
                      name="add"
                      class="js-ajax-add-to-cart product-form__submit width_100 button {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}{% else %}{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    onclick="dataLayer.push({ 'ecommerce': null });
                    dataLayer.push({
                    	'event': 'add_to_cart',
                    	'ecommerce': {
                        	'currency': '{{ shop.currency }}',
                        	'value': '{{ product.price | times: 0.01}}',
                    		'items': [{
                    			'item_id': '{{ product.id }}',
                    			'item_name': '{{ product.title }}',
                    			'item_brand': '{{ product.vendor }}',
                    		 	'item_category': '{{ product.type }}',
                    		 	'item_variant': '{{ product.selected_variant.sku }}',
                    		 	'currency': '{{ shop.currency }}',
                    		 	'price': '{{ product.price | times: 0.01}}'
                    		}]
                    	}
                    });"
                    >
                        {%- if product.selected_or_first_available_variant.available -%}
                          {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                          {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                      -<p class='atc-price weight_600' style="color:white">{{product.selected_or_first_available_variant.price | money}}</p>
                    </button>
                    </div>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </product-form>

              {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

              {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

              <pickup-availability class="product__pickup-availabilities no-js-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                data-base-url="{{ shop.url }}{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
              >
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">
                    {% render 'icon-unavailable' %}
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                      <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                    </div>
                  </pickup-availability-preview>
                </template>
              </pickup-availability>
            </div>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
          {%- when 'rating' -%}
            {%- if product.metafields.reviews.rating.value != blank -%}
              {% liquid
               assign rating_decimal = 0
               assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
               if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
               endif
              %}
              <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
              </div>
              <p class="rating-text caption">
                <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
              </p>
              <p class="rating-count caption">
                <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
              </p>
            {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
              {% assign tabs = section.blocks | where: "type", "tabs" %}
<div class="product-tabs-section mobile-hide">

<div class="product-tabs-control-container">
  {% assign tab_index = 0 %}
  {% for block in tabs %}
  {% assign tab_index = tab_index | plus: 1 %}
    <p class="p f8 product-tab-control {% if tab_index == 1 %} control-tab-active {% endif %}"  data-index="{{forloop.index}}">{{block.settings.heading}}</p>
  
  {% endfor %}
  </div>

  
<div class="product-tabs-content-container">
  {% assign tab_index = 0 %}
  {% for block in tabs %}
  {% assign tab_index = tab_index | plus: 1 %}
  <div class="product-tab-content {% if tab_index == 1 %} content-tab-active {% endif %}" data-index="{{forloop.index}}">
   {% if block.settings.page != blank %}
    <div>
     {% assign page = pages[block.settings.page] %}
  {{page.content}}
    </div>
    {%endif%}
    {% if block.settings.content != blank %}
    <div class="child-inherit f9 y-margin_xs">
  {{block.settings.content}}
    </div>
    {%endif%}
    {% if block.settings.show-description == true %}
    <div class="product__description rte">
  {{product.description}}
    </div>
    {%endif%}
  </div>
  {% endfor %}
  
  
  </div>
</div>
              
            <div class="faq-accordain-container desktop-hide">
   {% for block in tabs %}
   <div class="faq-accordain" {{block.shopify_attributes}}>
   <div class="faq-question">
     <p class="f10 y-margin_0">{{block.settings.heading}}</p>
     <i class="fa fa-plus" style="font-size:20px"></i>

     </div>
     <div class="faq-answer">
      {% if block.settings.page != blank %}
    <div>
     {% assign page = pages[block.settings.page] %}
  {{page.content}}
    </div>
    {%endif%}
    {% if block.settings.content != blank %}
    <div class="child-inherit f9 y-margin_xs">
  {{block.settings.content}}
    </div>
    {%endif%}
    {% if block.settings.show-description == true %}
    <div class="product__description rte">
  {{product.description}}
    </div>
    {%endif%}
     </div>
     </div>

   {% endfor %}
  </div>
              
      </div>
    </div>
  </div>

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- liquid
          if product.selected_or_first_available_variant.featured_media != null
            assign media = product.selected_or_first_available_variant.featured_media
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
          endif
        -%}

        {%- for media in product.media -%}
          {%- liquid
            if section.settings.hide_variants and variant_images contains media.src
              assign variant_image = true
            else
              assign variant_image = false
            endif

            unless media.id == product.selected_or_first_available_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
            endunless
          -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>
  


    
    {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}
    <div id='Areviewsapp' class='page-full'>{%  render 'aliexpress_reviews' , product: product %}</div>
</section>

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      const activeMediaTemplate = activeMedia.querySelector('template');
      const activeMediaContent = activeMediaTemplate ? activeMediaTemplate.content : null;
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      const container = this.querySelector('[role="document"]');
      container.scrollLeft = (activeMedia.width - container.clientWidth) / 2;

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMediaContent && activeMediaContent.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.selected_or_first_available_variant.featured_media -%}
      {%- assign media_size = product.selected_or_first_available_variant.featured_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ product.selected_or_first_available_variant.featured_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
  {
      "type": "bundle",
      "name": "Product Bundle",
      "limit": 1,
  "settings":[
  {
  "type":"text",
  "id":"bundle-text",
  "label":"Enter Bundle Text"
  },
  {
  "type":"product",
  "id":"bundle1",
  "label":"Select Bundle Product 1"
  },
  {
  "type":"product",
  "id":"bundle2",
  "label":"Select Bundle Product 2"
  },
  {
  "type":"product",
  "id":"bundle3",
  "label":"Select Bundle Product 3"
  }
  ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1,
  "settings":[
  {
  "type":"checkbox",
  "id":"show-qty-btn",
  "label":"Show Quantity Buttons"
  }
  ]
    },
  {
      "type": "tabs",
      "name": "Product Tabs",
      "limit": 5,
  "settings":[
  {
  "type":"checkbox",
  "id":"show-description",
  "label":"Show Product Description in Tab"
  },
  {
  "type":"text",
  "id":"heading",
  "label":"Tab Heading"
  },
  {
  "type":"richtext",
  "id":"content",
  "label":"Enter Description"
  },
  {
  "type":"page",
  "id":"page",
  "label":"Select Page"
  }
  ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    }
  ]
}
{% endschema %}
<script>
  var thumbs = document.querySelectorAll(".thumb-image")
 var images = document.querySelectorAll(".prod-image")
 console.log(thumbs)
  thumbs.forEach(function(thumb){
    thumb.addEventListener("click",function(e){
      console.log("click")
   var index = thumb.getAttribute("data-index")
   console.log(index)
   thumbs.forEach(function(thumbnail){
  thumbnail.closest(".thumb-image-container").classList.remove("thumb-image-container-active")
   })
   images.forEach(function(image){
  image.classList.remove("product__media-item-active")
   })
   thumb.closest(".thumb-image-container").classList.add("thumb-image-container-active")
   document.querySelector(`.prod-image[data-index="${index}"]`).classList.add("product__media-item-active")
    })
  })  
  
  
  var qtys = document.querySelectorAll(".qty-swatch");

qtys.forEach(function(qty) {
  qty.addEventListener("click", function() {
    // Remove active class from all qty-swatch elements
    qtys.forEach(function(asd) {
      asd.classList.remove("qty-swatch-active");
    });
    qty.closest(".qty-swatch").classList.add("qty-swatch-active");

    // Get the selected quantity
    var quantity = qty.closest(".qty-swatch").getAttribute("data-qty");
    quantity = parseInt(quantity);

    // Update the quantity input field with the selected quantity
    document.querySelector(".quantity__input").value = quantity;

    // Check if the product is "Elderberry" and apply custom prices for specific packs
    if (product.title == 'Elderberry') {
      if (quantity == 1) {
        document.querySelector(".atc-price").innerHTML = `{{ product.selected_or_first_available_variant.price | money }}`;
      }
      if (quantity == 2) {
        document.querySelector(".atc-price").innerHTML = `{{ product.selected_or_first_available_variant.price | times: 2.1 | money }}`;  // Custom price for 2 Pack
      }
      if (quantity == 3) {
        document.querySelector(".atc-price").innerHTML = `{{ product.selected_or_first_available_variant.price | times: 2.77 | money }}`;  // Custom price for 3 Pack
      }
      if (quantity == 5) {
        document.querySelector(".atc-price").innerHTML = `{{ product.selected_or_first_available_variant.price | times: 4.61 | money }}`;  // Custom price for 5 Pack
      }
    } else {
      // For all other products, use the old method (multiplying price by quantity)
      if (quantity == 1) {
        document.querySelector(".atc-price").innerHTML = `{{ product.selected_or_first_available_variant.price | money }}`;
      }
      if (quantity == 3) {
        document.querySelector(".atc-price").innerHTML = `{{ product.selected_or_first_available_variant.price | times: 3 | money }}`;  // Default price for 3 Pack
      }
      if (quantity == 5) {
        document.querySelector(".atc-price").innerHTML = `{{ product.selected_or_first_available_variant.price | times: 5 | money }}`;  // Default price for 5 Pack
      }
    }
  });
});

  
  
   
 var button = document.querySelectorAll(".product-tab-control")
 var content = document.querySelectorAll(".product-tab-content")
  
 button.forEach(function(btn){
 
   btn.addEventListener("click", function(){
   
   var index = btn.getAttribute("data-index")
   
   
   button.forEach(function(buton){
   
   buton.classList.remove('control-tab-active')
   })
   btn.classList.add('control-tab-active')
   
   
   
   
   content.forEach(function(text){
   
   text.classList.remove('content-tab-active')
   
   })
   document.querySelectorAll(`.product-tab-content[data-index="${index}"]`).forEach(function(asd){
   asd.classList.add("content-tab-active")
   })
   })
 
 })
  
 
     let faq = document.querySelectorAll('.faq-question');
  faq.forEach(function(item){
    item.addEventListener('click', function(){
    var faq_icon = item.lastElementChild;
        var faq_answer = item.nextElementSibling;
    if(faq_answer.style.maxHeight){
    faq_answer.style.maxHeight = null;
            faq_icon.classList.remove("fa-minus")
      faq_icon.classList.add("fa-plus")
    }
      else{
       faq_answer.style.maxHeight = faq_answer.scrollHeight + "px";
      faq_icon.classList.remove("fa-plus")
      faq_icon.classList.add("fa-minus")
      }
    })
  })


  
</script>
  <script>
console.log("Product handle: {{ product.handle }}");
console.log("Product ID: {{ product.id }}");
</script>  
<style>
.product-tabs-section{
max-width:800px;
}
  .product-tabs-control-container{
  display:flex;
    justify-content:left;
    margin-top:40px;
    flex-wrap:wrap;
  }

  .product-tab-control{
  padding-right:10px;
    letter-spacing:1px;
    margin:0px;
    cursor:pointer;
  }
 

.product-tabs-content-container{
  padding:20px 0px;
  padding-top:0px;
  }
  .product-tab-content{
  display:none;
  }

.control-tab-active{
  font-weight:600;
  text-decoration:underline;
}
  
.control-tab-active span{
}
.content-tab-active{
display:block;
}

  

@media(max-width:767px){

  
  .product-tab-control .button{
  font-size:11px !important;
    min-width:65px;
    padding-left:5px;
    letter-spacing:1px;
    padding-right:5px;
  }
  .product-tabs-content-container{
  padding:0px;
  }
 .product-tabs-control-container{
      justify-content: space-around;
    padding: 0px;
  }
  .product-tab-control{
  margin:10px 0px;
  }
  .product-tabs-control-container{
  flex-direction:column;
  }
  
}
  
  
  
 
  
  .faq-page{
  
  }
  .faq-page-grid{
  display:flex;
    flex-wrap:wrap;
  
  }
  
  
  
  .faq-tabs-control-wrapper{
    padding:60px 20px;
    width:30%;
  flex-grow:1;
  min-width:200px;
  
  }
  .faq-tabs-control-container{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    max-width:350px;
    margin:auto;
  }

  .faq-tab-control{
  cursor:pointer;
    color:black;
  text-decoration:none;
    padding:5px 10px;
    text-align:center;
    display:inline-block;
   margin:10px 0px !important;
    text-align:left;
  }
  
  .faq-tabs-control-container > h1{
  padding-bottom:30px;
  }

.faq-tabs-content-container{
  padding:60px 20px;
  width:70%;
  flex-grow:1;
  background-color:white;
  min-width:280px;
  }
  .faq-tab-content > h1{
    max-width:400px;
   margin-bottom:200px !important;
  }
  .faq-tab-content{
  display:block;
    max-width:1000px;
    margin:auto;
  }

.control-tab-active{
font-weight:bold;
}
.content-tab-active{
display:block;
}

  .faq-accordain{
    border-bottom:1px solid lightgray;
    padding:10px 0px;
  }
  .faq-heading{
    border-bottom:1px solid lightgray;
    padding:10px;
    margin-top:20px;
  }
  .faq-accordain:first-child{
    border-top:1px solid lightgray;
  }
  .faq-question{
  display:flex;
    cursor:pointer;
    justify-content:space-between;
    align-items:center;
    padding:0px 10px;
    padding-top:0px;
    margin:0px;
  }
  .faq-answer{
  max-height:0px;
    padding:0px 10px;
    overflow:hidden;
    transition:0.3s ease;  }
  .faq-question p{
    padding-right:20px;
  }
  .faq-answer p{
   }

@media(max-width:767px){

    .faq-tabs-control-container{
    flex-direction:row;
    max-width:100%;
      flex-wrap:wrap;
  }
   .faq-tabs-control-container > h1{
   width:100%;
   }
  
   .faq-tabs-control-container > h3{
   width:auto;
  }

  .faq-tab-control{
  }
 .faq-tabs-control-container{
      justify-content: center;
    padding: 0px;
  }
  .faq-tab-content > h1{
  margin-bottom:40px !important;
  }
  .faq-tabs-content-container{
  padding:20px;
  }
  .faq-tabs-control-wrapper{
  padding:20px;
  }
  .faq-question p{
  }
  .faq-question i{
  font-size:16px !important;
  }
  .faq-answer p{
  }
  .faq-tab-content > h1{
  }
  
  
  
  
  
  
  
}  
  
</style>
